# Simple Test Configuration - Watch List Only
onwatch:
  ip_address: "10.1.71.14"
  username: "Administrator"
  password: "pa$$word!"

watch_list:
  subjects:
    - name: "Yonatan"
      images:
        - path: "assets/images/me.jpg"
      group: "Default Group"
